Flask==3.0.0
Flask-SQLAlchemy==3.1.1
Flask-Migrate==4.0.5
Flask-JWT-Extended==4.6.0
Flask-CORS==4.0.0
Flask-SocketIO==5.3.6
python-socketio==5.10.0
python-engineio==4.8.1
psycopg2-binary==2.9.9
python-dotenv==1.0.0
bcrypt==4.1.2
pgvector==0.2.4
google-generativeai==0.3.2
--extra-index-url https://download.pytorch.org/whl/cpu
torch
sentence-transformers>=2.6.0
